#
# exclude common hidden file types
#
.*
*.swp
*._*
*.unison*

#
# Exclude common temp files
#
debug.txt
*.log

#
# XCode workspace
#
**/xcuserdata/*

#
# Build folder
#
bin
build
bin/*
build/*

#
# Include back .gitignore
#
!.gitignore